/*  */
.App{
  width: 85%;
  position: absolute ;
  top: 0;
  right: 0;
  padding-left: 100px;
  margin-right: 45%;
  margin-top: 7%;
  border-radius: 10%;
}
.contact-form{
  padding-left: 10px;
}
#submit-button{
  margin: 2%;
}